<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data</title>
    <style type="text/css">.body { width: auto; }</style>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
  </head>
  <body>
      <h2>Know About The MTA? Show us your favorites!!</h2>
    <form action="/post-train" method="post">
        <input type="text" name="name" placeholder="Model">
        <input type="text" name="Lines" placeholder="Lines">
        <input type="Submit" value="Submit">
    </form>






  </body>